# dependencies
node_modules/

# builds
.dist/
dist/
.next/
out/

# env
.env
.env.*
!.env.example

# misc
.DS_Store
.vscode/
.idea/
.vercel/
.cache/
coverage/

# convex
.convex/

# logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*
